@model farm2plate.Models.SOrder;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Sordersss </h1>
@{
    /*<h1> @Model.SOrderID</h1>
    <h1> @Model.ProductQuantity</h1>
    <h1> @Model.ProductID</h1>
    <h1> @Model.UserID</h1>
    <h1> @Model.ShopID</h1>
    <h1> @Model.SOrderStatus</h1>*/

    if (ViewBag.hasOrders)
    {

        foreach (var order in ViewBag.orders)
        {
            <p>ProductID @order.SOrderID</p>
            <p>ProductQuantity @order.ProductQuantity</p>
            <p>ProductID @order.ProductID</p>
            <p>UserID: RM @order.UserID</p>
            <p>ShopID: RM @order.ShopID</p>
            <p>SOrderStatus: RM @order.SOrderStatus</p>
        }
    }
    else
    {
        <p>there are no orders</p>
    }



}
