@model farm2plate.Models.Shop;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Hey </h1>
@{
    <h1> @Model.ShopName</h1>
    if (Model.Products.Count == 0)
    {
        <p>there are no products</p>
    }
    else
    {
        foreach (var product in Model.Products)
        {
            <p>ProductID @product.ProductID</p>
            <p>ProductName @product.ProductName</p>
            <p>ProductImage @product.ProductImage</p>
            <p>ProductPrice @product.ProductPrice</p>
            if (@product.ProductQuantity > 0)
            {
                <form method="post" asp-action="Order" asp-controller="Customer">
                    <input type="hidden" name="ShopID" value="@Model.ShopID" />
                    <input type="hidden" name="ProductID" value="@product.ProductID" />
                    <input type="number" name="ProductQuantity" min="1" value="1" max="@product.ProductQuantity" placeholder="1" />
                    <input type="submit" value="Place Order" />
                </form>
            }
            else
            {<p>This product is not available</p>}
        }
    }



}
